/*
*  CSS CONTACT SOMMAIRE
* 
*   1.0 main qui sommes-nous
*       1.1 main qui sommes-nous responsive
*   2.0 aside contact
*       2.1 aside contact responsive
*
*/

/* 1.0 css qui sommes-nous */

.main-qui-sommes-nous{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 7% 10% 3% 10%;
}
.titlePage{
    background-color: #BE965D;
    border-radius: 20px;
    padding: 1%;
    height:2em;
    width: 15em;
    font-size: 1.3em;
}
.container-qui{
    display:flex;
    justify-content:space-around;
}
.part-qui-description{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    max-width: 25em;
    text-align: center;
}
.texte-qui{
    margin-bottom: 10%;
}
.part-qui-photo{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.box-img-qui{
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: clip;
}
.img-qui{
    width:100%;
}
.container-map{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin: 7% 0;
}

    /* 1.1 main qui sommes-nous responsive */

    @media screen and (min-width:768px) {
        .container-qui{
            justify-content:space-around;
        }
        .part-qui-description, .part-qui-photo{
            width: 45%;
        }
        .part-qui-photo{
            max-height: 32em;
        }
        .box-img-qui{
            margin: 2%;
            height: 35%;
            width: 45%;
        }
        .map{
            width: 60%;
            height: 30em; 
            border:0;
        }
    }
    @media screen and (max-width:768px) {
        .container-qui{
            flex-direction: column;
            justify-content:center;
            align-items: center;
        }
        .part-qui-description, .part-qui-photo{
            width: 100%;
        }
        .part-qui-photo{
            margin: 5% 0;
        }
        .box-img-qui{
            margin: 3%;
            height: 12em;
            width: 70%;
        }
        .map{
            width: 100%;
            height: 25em; 
            border:0;
        }
    }

/* 2.0 aside contact */

.container-contact{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3% 10% 7% 10%;
}
.title-contact{
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 7%;
    padding: 1%;
    height:2em;
    width: 15em;
    background-color: #BE965D;
    border-radius: 20px;
    font-size: 1.3em;
}
.form-contact{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:3% 5%;
    background-color: #BDBCBC;
    border-radius: 20px;
}
.form-group-info{
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3% 0;
    padding: 1%;
}
.form-info{
    display:flex;
    align-items:center;
}
.zone-texte-info{
    margin: 2%;
    width: 45%;
    text-align: center;
}
.form-box-message{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    text-align: center;
}
.form-zone-message{
    margin: 2%;
}
.form-btn-box{
    display:flex;
    align-items:center;
    width: 100%;
}

/* 2.1 aside contact responsive */

@media screen and (min-width:768px) {
    .form-info{
        width: 45%;
        margin: 1%;
        justify-content: center;
    }
    .form-btn-box{
        justify-content: flex-end;
    }
}
@media screen and (max-width:768px) {
    .form-group-info{
        flex-direction: column;
    }
    .form-info{
        width: 80%;
        margin: 2%;
        justify-content: space-between;
    }
    .form-box-message{
        margin-top: 10%;
    }
    .form-zone-message{
        margin-top: 5%;
        width: 100%;
    }
    .form-btn-box{
        margin: 5% 0;
        justify-content: center;
    }
}