/*
*  CSS ACCEUIL SOMMAIRE
* 
*   1.0 main container
*       1.1 main container responsive
*   2.0 aside produit
*       2.1 aside produit responsive
*   3.0 aside phrase de fin
*       3.1 aside phrase de fin responsive
*/

/* 1.0 main container */

.main-container{
    display:flex;
    margin: 10% 7%;
    flex-wrap: wrap;
}
.container-image{
    flex: 2;
    display:flex;
}
.img-boutique{
    width:80%;
    height:max-content;
    border-radius: 20px;
}
.container-text{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 15em;
}
.text-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    height:30%;
    max-height: 7em;
    width: 90%;
    max-width: 13em;
    border-radius: 25px;
    border: 5px solid #FCCA87;
    font-family: "gothamBold";
}
.text-description{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 3%;
    background-color:#BDBCBC;
    border-radius: 20px;
}

    /* 1.1 main container responsive */

    @media screen and (min-width:768px) {
        .text-title{
            font-size: 1.5em;
        }
        .text-description{
            height:40%;
            max-height: 10em;
            min-height: 10em;
            width:100%;
            font-size: 1.2em;
        }
    }
    @media screen and (max-width:768px) {
        .main-container{
            flex-direction: column;
        }
        .container-image{
            justify-content: space-around;
            align-items: center;
        }
        .text-title{
            margin: 1em;
        }
        .text-description{
            width:70%;
            padding:4%;
        }
    }

/* 2.0 aside produit */

.aside-container{
    margin: 10%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;

}
.container-box-produit{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}
.produit-box-img{
    width: 75%;
    max-width: 20em;
}
.img-produit{
    width: 100%;
    border-radius: 10px;
}
.produit-legende{
    margin:2em;
    padding: 2%;
    text-align: center;
    background-color:#422818;
    color: #FCCA87;
    border-radius: 10px;
    font-family: "gothamBold";
}

 /* 2.1 aside produit responsive */

    @media screen and (min-width:768px) {
        .second-produit {
            margin-top: 10%;
        }
        .troisieme-produit{
            margin-top: 20%;
        }
        .produit-legende{
            width: 60%;
            max-width: 9em;
        }
    }
    @media screen and (max-width:768px) {
        .container-box-produit{
            margin:0.5em;
        }
        .produit-legende{
            font-size: 0.8em;
            width: 75%;
        }
    }

/* 3.0 aside phrase de fin */

.box-phrase{
    margin: 10% 7%;
    display:flex;
    justify-content:center;
}
.phrase-insta{
    padding:2%;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 60%;
    text-align: center;
    text-decoration: none;
    background-color:#BDBCBC;
    color: #432A18;
    border-radius: 10px;
    font-family: "gothamBold";
}

    /* 3.1 aside phrase de fin responsive */

    @media screen and (min-width:768px) {
        .phrase-insta{
            min-height:4em;
            font-size:1.5em;
        }
    }
    @media screen and (max-width:768px) {
        .phrase-insta{
            min-height:2em;
        }
    }