/*  Sommaire
1.0 général
2.0 Entete
3.0 aside-centre gauche
    3.1 choix background
    3.2 choix couleur
4.0 main contenue
    4.1 aside centre bas nouvelle tache
    4.2 contenu centre
        4.2.1 main centre
5.0 footer
6.0 css lier à javascrip
    6.1 couleur police
    6.2 couleur police
    6.3 tache effectuer
    6.4 couleur importance


/* 1.0 général*/
*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 2.0 Entete*/
.phrase{
    font-size: 1.7em;
}

/* 3.0 aside-centre gauche*/

    /* 3.1 choix background*/
    .center__aside-gauche{
        flex: 0.75;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin: 5% 0% 5% 5%;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid black;
        color: darkblue;
    }
    .aside-g__box-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 5%;
        width: 100%;
    }
    .box-img__title{
        margin: 2% 0;
        font-size: 1.3em;
    }
    .box-img__interaction{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 5%;
        cursor: pointer;
    }
    .interaction__img{
        display: block;
        width: 13vh;
        height: 8vh;
        border: 1px solid transparent;
        border-radius: 25px;
    }
    
    /* 3.2 choix couleur*/
    .aside-g__box-couleur{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: 2%;
    }
    .box-couleur__choix-couleur{
        display: flex;
        align-items: center;
        text-align: center;
        width: 90%;
        max-width: 10em;
        max-height: 1.5em;
        margin:2%;
        padding: 2%;
        background-color: rgba(128,128,128, 0.5);
        border: 1px solid;
        border-radius: 15px;
        cursor: pointer;
    }
    .choix-couleur__couleur{
        display: block;
        height: 2vw;
        max-height: 1.4em;
        width: 3vw;
        max-width: 1.4em;
        border: 1px solid;
        border-radius: 25px;
    }
    .choix-couleur__legende{
        text-align: center;
        width: 75%;
        font-weight: bold;
    }
    .color__blue{
        background-color: blue;
    }
    .color__green{
        background-color: green;
    }
    .color__gold{
        background-color: gold;
    }
    .color__black{
        background-color: black;
    }
    .color__white{
        background-color: white;
    }
    .color__back-blue{
        background-color: rgba(0, 0, 255, 0.5);
    }
    .color__back-green{
        background-color: rgba(0, 128, 0, 0.5);
    }
    .color__back-gold{
        background-color: rgba(255, 217, 0, 0.5);
    }
    .color__back-black{
        background-color: rgba(0, 0, 0, 0.25);
    }
    .color__back-white{
        background-color: rgba(255, 255, 255, 0.25);
    }

/* 4.0 main contenue*/
.main-contenue{
    flex: 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-size: contain;
    width: 100%;
    color: darkblue;
}

/* 4.1 aside centre bas nouvelle tache*/
.main-contenue__haut{
    display: flex;
    text-align: center;
    margin: 2%;
    padding: 2%;
    width: 75%;
    min-height: 25vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
}
.haut__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form__box-new-do{
    display: flex;
    flex-direction: column;
    min-width: 75%;
}
.box-new-do__champ{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
    width: 90%;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid black;
    border-radius: 15px;
}
.champ__zone{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
    font-weight: bold;
}
.champ__textarea{
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 15px;
}
.form__btn-submit{
    text-align: center;
    height: 1.7em;
    width: 7em;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.75),
    2.5px 2.5px 2.5px 0px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
/* 4.2 contenu centre*/
.main-contenue__center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2% 0%;
    width: 75%;
}

/* 4.2.1 main centre*/
.center__main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    min-height: 50vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    cursor: default;
}
.main__art1{
    flex: 3;
    display: flex;
    width:100%;
    font-size: 1.2em;
}
.art1__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    width: 90%;
    text-align: center;
}
.list__puce{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4% 0;
    padding: 1% 3%;
    width: 80%;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid black;
    border-radius: 20px;
    font: small-caps bold 16px/2 cursive;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
}
.puce__tache{
    display: flex;
    align-items: center;
    flex: 2;
    width: 100%;
}
.tache__num{
    flex: 0.5;
    margin: 2%;
    padding: 0 1%;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid transparent;
    border-radius: 15px;
}
.tache__title{
    flex: 2;
    margin: 0.5% 2%;
    padding: 0 1%;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid transparent;
    border-radius: 15px;
}
.tache__decription{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2%;
    padding: 0 1%;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid transparent;
    border-radius: 15px;
}
.puce__part-bas{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 1% 0;
    font-size: 0.7em;
}
.part-bas__btn-effectuer{
    height: 1.7em;
    width: 7em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.75),
    2.5px 2.5px 2.5px 0px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
.part-bas__date-delete{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}
.delete__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.7em;
    width: 2.7em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.75),
    2px 2px 2px 0px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
.main__art2{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1% 0;
    width: 62.5%;
    font-size: 1.2em;
    font-weight: bold;
}
.art2__btn-supprimer-tout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 14px;
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.75),
    1px 1px 1px 0px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
.icon_sup{
    height: 2em;
    width: 2em;
}


/* 6.0 css lier à javascript*/

/* 6.1 couleur police*/
.js___list__text-blue{
    color: blue;
}
.js___list__text-green{
    color: green;
}
.js___list__text-gold{
    color: gold;
}
.js___list__text-black{
    color: black;
}
.js___list__text-white{
    color: white;
}
/* 6.2 couleur police*/
.js___list__back-blue{
    background-color: rgba(0, 0, 255, 0.5);
}
.js___list__back-green{
    background-color: rgba(0, 128, 0, 0.5);
}
.js___list__back-gold{
    background-color: rgba(255, 217, 0, 0.5);
}
.js___list__back-black{
    background-color: rgba(0, 0, 0, 0.25);
}

/* 6.3 tache effectuer*/
.js___list__puce-fait{
    box-shadow: inset 1px 1px 5px 5px rgba(255, 255, 255, 0.75),
    5px 5px 5px 5px rgba(0, 0, 0, 0.75);
    text-decoration-line: line-through;
}

/* 6.4 couleur importance*/
.js___list__importance-faible{
    box-shadow: inset 1px 1px 5px 5px rgba(0, 128, 0, 0.75),
    5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.js___list__importance-moyenne{
    box-shadow: inset 1px 1px 5px 5px rgba(255, 166, 0, 0.75),
    5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.js___list__importance-forte{
    box-shadow: inset 1px 1px 5px 5px rgba(255, 0, 0, 0.75),
    5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}