/*
*  CSS COMMUN SOMMAIRE
* 
*   1.0 commun
*       1.1commun header/navigation
*   2.0 header deployed
*       2.1 header contracted
*   3 header responsive
*   4 footer
*       4.1 footer responsive
*   5.1  css modal
*       5.1  css modal responsive
*/


/* 1.0 commun*/

@font-face {
    font-family: 'gothamBold';
    src: url('../font/gothambold-webfont.woff2') format('woff2'),
        url('../font/gothambold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothamLight';
    src: url('../font/gothamlight-webfont.woff2') format('woff2'),
        url('../font/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
.ombre{
    box-shadow: 2px 5px 5px 0px rgba(39,26,15,0.75);
}
.gras{
    font-family: "gothamBold";
}
.bodyCommon {
    padding-right: 0;
    margin-right: 0;
    width:100%;
    color: #271A0F;
    font-family: "gothamLight";
}
.titlePage{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 7%;
    color: #271A0F;
    font-family: "gothamBold";
}
.saut_ligne{
    display:block;
    height: 0.5em;
}
.majDbutMot{
    text-transform: capitalize;
}
.invisible{
    visibility: hidden;
}
.icon{
    height: 2em;
}
.btn{
    height:2em;
    width: 10em;
    font-family: "gothamBold";
    text-transform: capitalize;
    border: none;
    box-shadow: none;
    cursor: pointer;
    box-shadow: 2px 5px 5px 0px rgba(39,26,15,0.75);
}
.btn-white{
    color: #271A0F;
    background-color: white;
}
.btn-grey{
    color: #271A0F;
    background-color: #BDBCBC;
}
.btn-brown{
    color: #FCCA87;
    background-color: #422818;
}
.btn-fat{
    width: 15em;
    height:3.5em;
}

@media screen and (min-width:768px) {
    .btn{
        border-radius: 9em/2em; 
    }
}
@media screen and (max-width:768px) {
    .btn{
        font-size: 0.7em;
        border-radius: 7em/2em; 
    }
}

/* 1.1 commun header/navigation */

.nav-liste{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
}
.liste-link{
    width:7em;
    margin:0.5em;
    text-align: center;
    background-color: #FCCA87;
    border-radius: 10px;
}
.link-page{
    text-decoration:none;
    color: #271A0F;
}
.icon-panier-box{
    height: 2em;
    width: 2em;
    background-image: url("../icon/panier.svg");
    background-size: contain;
}
.icon-panier{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header{
    align-items: center;
    width: 100%;
    background-color: #987040;
    border-radius:0 0 20px 20px ;
}

/* 2.0 header deployed*/

.header-animation{
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    z-index: 1;
}
.logo-societe-header{
    margin: 1em;
    height: 10em;
    background-color: white;
    border-radius:20px;
}
.barre-nav{
    margin-bottom: 1em;
    width: 80%;
    min-height: 3em;
}

    /* 2.1 header contracted*/

    .header-animation-fixed-top{
        display:flex;
        position: fixed;
        top: 0;
        justify-content: space-around;
        padding: 0 5% ;
    }
    .logo-societe-header-fixed{
        padding: 3%;
        margin: 1em;
        height: 4em;
        background-color: white;
        border-radius:10px;
    }
    .barre-fixed-nav{
        display:flex;
        width: 80%;
        height: 3em;
        font-size: 0.8em;
    }

/* 3.0 header responsive*/

.header-responsive{
    display:flex;
    justify-content: space-around;
    padding: 1% 2%;
    min-height:4em;
}
.barre-nav-responsive{
    display:flex;
    width:90%
}
.logo-societe-responsive{
    padding: 2%;
    height: 2em;
    background-color: white;
    border-radius:10px;
}
.detail-nav-responsive{
    display: flex;
    align-items:center;
    padding: 1% 2%;
    width:9em;
    text-align: center;
    background-color: #FCCA87;
    font-family: "gothamBold";
    border-radius: 10px;
}
.detail-nav-responsive:before {
    content: "+";
    color: #271A0F;
    font-size: 1.5em;
    font-weight: bold;
    width: 20px;
    cursor: pointer;
}
details[open] .detail-nav-responsive:before {
    content: "-";
}
.liste-link-responsive{
    padding: 1%;
    width:9em;
    text-align: center;
    background-color: #FCCA87;
    font-family: "gothamBold";
    border-radius: 10px;
}
.icon-responsive{
    height: 1.5em;
}

@media screen and (min-width:768px) {
    .header-desktop{
        visibility: visible;
        display: flex;
    }
    .header-mobile{
        visibility: hidden;
        display: none;
    }
}
@media screen and (max-width:768px) {
    .header-desktop{
        visibility: hidden;
        display: none;
    }
    .header-mobile{
        visibility: visible;
        display: flex;
    }
}

/* 4.0 footer */

.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #987040;
    border-radius:20px 20px 0 0 ;
    font-family: "gothamBold";
}
.box-footer{
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 60%;
    width: 100%;
    list-style-type: none;
}
.liste-footer{
    margin: 2%;
    width:7em;
    text-align: center;
    background-color: #FCCA87;
    font-family: "gothamBold";
    border-radius: 10px;
}
.icon-footer{
    display:flex;
    justify-content: center;
    width:6em;
}
.logo-societe-footer{
    padding: 2%;
    height: 3em;
    background-color: white;
    border-radius:10px;
}
.liste-info-footer{
    display:flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    height: 50%;
}
.info-footer{
    width: 100%;
    text-align: center;
    background-color: #FCCA87;
    font-family: "gothamBold";
    list-style-type: none;
}

    /* 4.1 footer responsive*/

    @media screen and (min-width:768px) {
        .footer{
            height: 12em;
        }
        .logo-societe-footer{
            height: 3em;
        }
        .liste-footer,.info-footer{
            font-size: 1em;
        }
    }
    @media screen and (max-width:768px) {
        .footer{
            height: 8em;
        }
        .logo-societe-footer{
            height: 2em;
        }
        .liste-footer, .info-footer{
            font-size: 0.8em;
        }
        .icon-footer{
            font-size: 0.7em;
        }
    }

/* 5.0  css modal */

.aside-modification{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 2%;
    width: 100%;
    overflow-y: scroll;
    transition: 0.2s;
    background-color: rgba(0,0,0, .75);
}
.aside-modification[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
}
.modale__box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    padding: 2%;
}
.form-modification{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    min-height:80%;
    width: 100%;
    padding: 5% 0;
    background-color: #BDBCBC;
    border-radius: 20px;
}
.champ-identiter{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.champ-modification{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 5%;
    width: 100%;
}
.label-modification{
    margin:1em;
}
.zone-text-nom{
    text-align: center;
}
.zone-text{
    text-align: center;
}
.btn-form{
    font-size: 0.6em;
}

    /* 5.1  css modal responsive */

    @media screen and (min-width:768px) {
        .modale__box {
            width: 60%;
        }
        .zone-text{
            width: 50%;
        }
    }
    @media screen and (max-width:768px) {
        .modale__box {
            width: 80%;
        }
        .champ-identiter{
            flex-direction: column;
        }
    }