/*
*  CSS GESTION DES PRODUITS SOMMAIRE
* 
*   1.0 main ajout produit
*   2.0 aside gestion produit
*       2.1 aside gestion produit responsive
*/

.part{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10%;
}
.title-chap{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-bottom:5%;
    height: 2em;
    width:15em;
    text-align: center;
    font-family: "gothamBold";
    background-color: #BE965D;
    border-radius: 20px;
}
.img-product{
    width: 50%;
    max-width: 6em;
    min-width: 3em;
}

/* 1.0 main ajout produit */

.form-box{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    margin: 5%;
    padding: 2%;
    min-height: 25em;
    width: 100%;
    background-color:#BDBCBC;
    border-radius: 20px;
}
.form-group-haut-bas{
    display: flex;
    align-items:center;
    justify-content:space-around;
    padding: 2%;
    margin: 1%;
    width: 60%;
}
.form-group{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin:0.5em;
    padding: 2%;
    width: 40%;
    min-width: 15em;
}
.form-group-bas{
    flex-direction: column;
    margin-bottom: 3%;
    width: 100%;
}
.form-champ{
    width:50%;
    max-width: 15em;
}
.form-img{
    width:50%;
    background-color:white;
    text-align: center;
}
.legend-form{
    margin : 0.5em;
    text-align: center;
    font-family: "gothamBold";
}
.form-box-btn{
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-direction: column;
    width:80%;
}
.btn-add{
    margin-bottom: 2%;
}
.btn-supp{
    margin-bottom: 2%;
}
.legende{
    display: flex;
    justify-content:right;
    width:100%;
}

    /* 1.1 main ajout produit responsive */

    @media screen and (min-width:768px) {
        .btn-supp{
            font-size: 0.9em;
        }
    }

/* 2.0 aside gestion produit */

.content-part{
    margin: 7%;
    width: 100%;
    background-color:#BDBCBC;
    border-radius: 20px;
}
.title-part{
    margin:5%;
    height: 2em;
    width:17em;
    font-family: "gothamBold";
    background-color: white;
    border-radius: 20px;
}
.title-article{
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
}
.box-produit{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding-bottom: 1em;
    width:100%;
}
.menu-part{
    display: flex;
    align-items:center;
    padding: 0.5% 2%;
}
.menu-part:before {
    content: "+";
    color: #271A0F;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    width: 20px;
    cursor: pointer;
}
details[open] .menu-part:before {
    content: "-";
}
.description-part{
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    margin: 0% 10%;
    padding: 2%;
    height:4em;
    background-color: white;
    cursor: default;
}
.table-product{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    width:90%;
}
.table-box{
    display: flex;
    flex-direction: column;
    width:100%;
}
.table-row{
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin: 1em 0;
}
.table-column{
    flex: 1;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 6em;
}
.seprator{
    border: 1px solid #271A0F;
}
.btn-brown{
    width:70%;
}
.hidden{
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
}

    /* 2.1 aside gestion produit responsive */

    @media screen and (min-width:768px) {
        .img-responsive{
            display: flex;
        }
        .btn-brown{
            font-size:1em;
        }
    }
    @media screen and (max-width:768px) {
        .img-responsive{
            display: none;
        }
        .btn-brown{
            font-size:0.5em;
            width:75%;
        }
    }

/* 2.2 css boite modificaiton des categories */

.visible{
    display: flex;
    margin-top: 0;
}
.mask{
    display: none;
    margin-top: -25em;
}
.transitionOpen{
    display: flex;
    animation: slideFromTop 1s;
}
.transitionClose{
    display: flex;
    animation: slideGoToTop 1s;
}
.categorie_box{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    padding: 2%;
    height: 70%;
}
.form-categorie{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 70%;
    width: 100%;
    max-width: 40em;
    padding: 5% 0;
    background-color: #BDBCBC;
    border-radius: 20px;
}
.form-modif-categorie{
    color: #987140;
    text-decoration: underline;
}

@keyframes slideFromTop{
    from{
        transform: scale(0.8) translateY(-25em);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideGoToTop{
    from{
        transform:translateY(0);
        opacity: 1;
    }
    to{
        transform: scale(0.8) translateY(-25em);
        opacity: 0;
    }
}
    /* 2.3 css boite modificaiton des categories responsive */

@media screen and (min-width:768px) {
    .categorie_box {
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    .categorie_box {
        width: 80%;
    }
}

/* 3.0 boite validation suppression produit */

#js__box-validation{
    position: fixed;
    justify-content:center;
    align-items: center;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index:1;
    font-size:1.25em;
}
.form-suppr{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding:0.5em;
    height: 6em;
    background-color:#BDBCBC;
    border: 1px solid #271A0F;
}
.box-oui-non{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
}