/*
*  CSS LOGIN SOMMAIRE
* 
*   1.0 main container
*       1.1 main container responsive
*   2.0 aside inscription
*       2.1 aside inscription responsive
*/

body {
    padding-right: 0;
    margin-right: 0;
    width:100%;
    color: #FCCA87;
    font-family: "gothamLight";
}
.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 7% 10%;
}
@media screen and (max-width:768px) {
    .container{
        flex-direction: column;
    }
}
.titre-form{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin: 5%;
    flex: 0.5;
    font-family: "gothamBold";
}
.zone-text{
    width: 80%;
    text-align: center;
    padding:1%;
}

/* 1.0 main container */

.main-connexion{
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 5%;
    max-width:30em;
    background-color: #422818;
    border-radius: 20px;
}
.form-connexion{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin: 1em;
}
.champ{
    margin: 1em;
}
.legende-champ{
    margin: 0.5em;
    max-width: 70%;
    font-size: 0.9em;
}
.btn-connexion{
    margin:1em;
    margin-bottom: 2em;
    font-size:1.2em;
}

    /* 1.1 main container responsive */

    @media screen and (min-width:768px) {
        .main-connexion{
            height:45em;
            width:40%;
        }
    }
    @media screen and (max-width:768px) {
        .main-connexion{
            font-size:0.9em;
            height:35em;
            width:80%;
        }
    }

/* 2.0 aside inscription */

.aside-inscription{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 5%;
    background-color: #422818;
    border-radius: 20px;
}
.form-inscription{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}
.inscription-identiter{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.champ-inscription{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin: 1.5em;
}
.label-inscription{
    margin:1em;
}

/* 2.1 aside inscription responsive */

@media screen and (min-width:768px) {
    aside-inscription{
        width:40%;
    }
}
@media screen and (max-width:768px) {
    .aside-inscription{
        font-size:0.9em;
        width:80%;
        max-width:30em;
    }
}