/*
*  CSS GESTION DES COMPTES SOMMAIRE
* 
*   1.0 css page gestion compte
*       1.1 css page gestion compte responsive
*   2.0 carousel
*
*/

/* 1.0 css page gestion compte */

.part{
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
}
.title-chap{
    margin:5% 10%;
    font-family: "gothamBold";
}
.table-box{
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.table-row{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 2%;
    margin-bottom: 2%;
    height: 6em;
    width: 100%;
    border-bottom: 2px solid #271A0F;
}
.table-column{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0.1em;
    padding: 1%;
    height: 2em;
    width: 20%;
}
summary{
    cursor: pointer;
}
.details-paragraph{
padding: 4px;
margin: 0;
}
.nav-carousel{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:5% 0;
    width: 100%;
    list-style-type: none;
    font-family: "gothamBold";
}
.page-carousel{
    cursor: pointer;
    padding:0.5%
}
.icon-carousel{
    width:1em;
}

    /* 1.1 css page gestion compte responsive */


    @media screen and (min-width:768px) {
        .mail-responsive{
            display: flex;
        }
    }
    @media screen and (max-width:768px) {
        .mail-responsive{
            display: none;
        }
    }

/* 2.0 carousel */

.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inactive{
    display: none;
}
.select{
    border: 1px solid #271A0F;
}
.box-compteActif{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 60%;
}

/* 3.0 box validation suppression */

.visible{
    display: flex;
    margin-top: 0;
}
.hidden{
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
}
.js__box-validation{
    position: fixed;
    justify-content:center;
    align-items: center;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index:1;
    font-size:1.25em;
}
.form-suppr{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding:0.5em;
    height: 6em;
    background-color:#BDBCBC;
    border: 1px solid #271A0F;
}
.box-oui-non{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
}