<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styleCommon.css" type="text/css">
    <link rel="stylesheet" href="../asset/css/styleProduits.css" type="text/css">
</head>

<body class="bodyCommon">
    <h1 class="titlePage">Nos produits</h1>
    <main class="part-categorie">
        <h2 class="title-chap">Nos Spécialitées</h2>
        <div class="produit">
            <article class="produit-group">
                <section class="produit-description">
                    <h3 class="title-produit">
                        Les Picantins
                    </h3>
                    <div class="produit-descriptif">
                        <p class="produit-legende">
                            3 noisettes grillées délicatement enrobées de chocolat et de nougatine.
                        </p>
                        <img class="img-produit" src="../asset/img/produit/picantin.jpg" alt="image produit">
                    </div>
                </section>
                <section class="produit-box-choix">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>100g</p>
                        <p>5.70€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>200g</p>
                        <p>11.40€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>300g</p>
                        <p>17.10€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>400g</p>
                        <p>22.80€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>500g</p>
                        <p>28.50€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                </section>
            </article>
    
            <article class="produit-group">
                <section class="produit-description produit-inverse">
                    <h3 class="title-produit">
                        Les Rochers Compiègnois
                    </h3>
                    <div class="produit-descriptif">
                        <img class="img-produit" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p class="produit-legende">
                            Des pralinés feuilletés avec du riz soufflé.
                        </p>
                    </div>
                </section>
                <div class="produit-box-choix">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p>100g</p>
                        <p>5.70€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p>200g</p>
                        <p>11.40€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p>300g</p>
                        <p>17.10€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p>400g</p>
                        <p>22.80€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p>500g</p>
                        <p>28.50€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                </div>
            </article>

            <article class="produit-group">
                <section class="produit-description">
                    <h3 class="title-produit">
                        Les Marjories
                    </h3>
                    <div class="produit-descriptif">
                        <p class="produit-legende">
                            Une ganache au chocolat noir parfumée aux écorces d’orange confite.
                        </p>
                        <img class="img-produit" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                    </div>
                </section>
                <section class="produit-box-choix">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                        <p>100g</p>
                        <p>5.70€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                        <p>200g</p>
                        <p>11.40€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                        <p>300g</p>
                        <p>17.10€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                        <p>400g</p>
                        <p>22.80€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                        <p>500g</p>
                        <p>28.50€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                </section>
            </article>
        </div>
    </main>
    <aside class="part-categorie">
        <h2 class="title-chap">Nos Assortiements</h2>
        <div class="produit-assortiment">
            <form class="group-choix-taille" action="">
                <p class="title-assortiment">
                    Ballotin 250g
                </p>
                <img class="img-miniature" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>17.50€</p>
                <div class="produit-quantite">
                    <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey">
                    ajouter au panier
                </button>
            </form>
            <form class="group-choix-taille" action="">
                <p class="title-assortiment">
                    Ballotin 400g
                </p>
                <img class="img-miniature" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>28€</p>
                <div class="produit-quantite">
                    <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey">
                    ajouter au panier
                </button>
            </form>
            <form class="group-choix-taille" action="">
                <p class="title-assortiment">
                    Ballotin 500g
                </p>
                <img class="img-miniature" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>35€</p>
                <div class="produit-quantite">
                    <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey">
                    ajouter au panier
                </button>
            </form>
            <form class="group-choix-taille" action="">
                <p class="title-assortiment">
                    Ballotin 750g
                </p>
                <img class="img-miniature" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>52.50€</p>
                <div class="produit-quantite">
                    <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey">
                    ajouter au panier
                </button>
            </form>
            <form class="group-choix-taille" action="">
                <p class="title-assortiment">
                    Ballotin 1kg
                </p>
                <img class="img-miniature" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>70€</p>
                <div class="produit-quantite">
                    <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey">
                    ajouter au panier
                </button>
            </form>
        </div>
    </aside>
    <aside class="part-categorie">
        <h2 class="title-chap">Nos Confiseries</h2>
        <div class="produit">
            <article class="produit-group">
                <section class="produit-description">
                    <h3 class="title-produit">
                        Les Marron Glacées
                    </h3>
                    <div class="produit-descriptif">
                        <p class="produit-legende">
                            Des marrons confit dans un sirop de sucre et glacé au sucre glace.
                        </p>
                        <img class="img-produit" src="../asset/img/produit/marron-glace.jpg" alt="image produit">
                    </div>
                </section>
                <section class="produit-box-choix">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marron-glace.jpg" alt="image produit">
                        <p>100g</p>
                        <p>5.70€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marron-glace.jpg" alt="image produit">
                        <p>200g</p>
                        <p>11.40€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marron-glace.jpg" alt="image produit">
                        <p>300g</p>
                        <p>17.10€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marron-glace.jpg" alt="image produit">
                        <p>400g</p>
                        <p>22.80€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/marron-glace.jpg" alt="image produit">
                        <p>500g</p>
                        <p>28.50€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                </section>
            </article>
    
            <article class="produit-group">
                <section class="produit-description produit-inverse">
                    <h3 class="title-produit">
                        Les Pâtes de fruit
                    </h3>
                    <div class="produit-descriptif">
                        <img class="img-produit" src="../asset/img/produit/pate-fruit.jpg" alt="image produit">
                        <p class="produit-legende">
                            La pâte de fruits est obtenue à partir de fruits cuits avec du sucre.
                        </p>
                    </div>
                </section>
                <div class="produit-box-choix">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-fruit.jpg" alt="image produit">
                        <p>100g</p>
                        <p>5.70€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-fruit.jpg" alt="image produit">
                        <p>200g</p>
                        <p>11.40€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-fruit.jpg" alt="image produit">
                        <p>300g</p>
                        <p>17.10€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-fruit.jpg" alt="image produit">
                        <p>400g</p>
                        <p>22.80€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-fruit.jpg" alt="image produit">
                        <p>500g</p>
                        <p>28.50€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                </div>
            </article>

            <article class="produit-group">
                <section class="produit-description">
                    <h3 class="title-produit">
                        Les Pâtes d'Amandes
                    </h3>
                    <div class="produit-descriptif">
                        <p class="produit-legende">
                            D'une texture onctueuse, la pâte d'amandes est modelée en forme de d'imitation de fruits.
                        </p>
                        <img class="img-produit" src="../asset/img/produit/pate-amande.jpg" alt="image produit">
                    </div>
                </section>
                <section class="produit-box-choix">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-amande.jpg" alt="image produit">
                        <p>100g</p>
                        <p>5.70€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-amande.jpg" alt="image produit">
                        <p>200g</p>
                        <p>11.40€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-amande.jpg" alt="image produit">
                        <p>300g</p>
                        <p>17.10€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-amande.jpg" alt="image produit">
                        <p>400g</p>
                        <p>22.80€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature" src="../asset/img/produit/pate-amande.jpg" alt="image produit">
                        <p>500g</p>
                        <p>28.50€</p>
                        <div class="produit-quantite">
                            <img class="icon-quantity" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img class="icon-quantity" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey">
                            ajouter au panier
                        </button>
                    </form>
                </section>
            </article>
        </div>
    </asi>
</body>