<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styleCommon.css" type="text/css">
    <link rel="stylesheet" href="../asset/css/styleMyAccount.css" type="text/css">
</head>

<body class="bodyCommon">
    <h1 class="titlePage">Mon compte Client</h1>
    <!-- main container info compte client -->
    <main class="main-info ombre">
        <h2 class="title-part">
            Mes informations personnelles
        </h2>
        <article class="box-info">
                    <section class="paragraph-info majDbutMot">
                        Nom 
                        <p class="info-data gras ombre"> Dupont </p>
                    </section>
                    <section class="paragraph-info majDbutMot">
                        Prénom 
                        <p class="info-data gras ombre"> Paul </p>
                    </section>
                    <section class="paragraph-info">
                            Adresse e-mail
                        <p class="info-data gras ombre"> paul.dupont@gmail.com</p>
                    </section>
                    <section class="paragraph-info majDbutMot">
                        Adresse
                        <p class="info-data gras ombre"> 99 Rue Du Moulin 75000 Paris </p>
                    </section>
                    <section class="paragraph-info">
                        Téléphone
                        <p class="info-data gras ombre">06 01 02 03 04</p>
                    </section>
        </article>
        <article class="box-edit-profile">
            <a class="lien-edit" href="">
                Editer profile
                <img class="icon" src="../asset/icon/editer.svg" alt="icone édition">
            </a>
        </article>
    </main>
    <!-- aside historique des factures et des commandes -->
    <aside class="aside-historique ombre">
        <h2 class="title-histo title-part">
            Mon Historique de factures
        </h2>
        <table class="table">
            <thead class="table-part">
                <tr class="table-row">
                    <th>
                        Numéro de facture
                    </th>
                    <th>
                        Commande effectuer le
                    </th>
                    <th class="table-montant">
                        Montant de
                    </th>
                    <th class="invisible">
                        Lien
                    </th>
                </tr>
            </thead>

            <tbody class="table-part">
                <tr class="table-row">
                    <td class="table-column">
                        2021_08_31-0001
                    </td>
                    <td class="table-column">
                        31/08/2021
                    </td>
                    <td class="table-column table-montant">
                        123€
                    </td>
                    <td>
                        <a href="">
                            <img class="icon" src="../asset/icon/pdf.svg" alt="">
                        </a>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="table-column">
                        2021_08_01-0005
                    </td>
                    <td class="table-column">
                        01/08/2021
                    </td>
                    <td class="table-column table-montant">
                        123€
                    </td>
                    <td>
                        <a href="">
                            <img class="icon" src="../asset/icon/pdf.svg" alt="">
                        </a>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="table-column">
                        2021_07_14-0010
                    </td>
                    <td class="table-column">
                        15/07/2021
                    </td>
                    <td class="table-column table-montant">
                        123€
                    </td>
                    <td>
                        <a href="">
                            <img class="icon" src="../asset/icon/pdf.svg" alt="">
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </aside>
</body>