<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styleCommon.css" type="text/css">
    <link rel="stylesheet" href="../asset/css/styleProduits.css" type="text/css">
</head>

<body id="js__mainContent" class="bodyCommon">
    <h1 class="titlePage">Nos produits</h1>
    <main class="part-categorie">
        <h2 class="title-chap ombre majDbutMot">Nos Spécialités</h2>
        <div class="produit">
            <article class="produit-group">
                <section id="js__boxProduit-0" class="produit-description-box ombre js__boxDescriptifProduit" tabindex="0">
                    <h3 class="title-produit ombre">
                        Les Picantins
                    </h3>
                    <div class="produit-descriptif">
                        <p class="produit-legende gras">
                            3 noisettes grillées délicatement enrobées de chocolat et de nougatine.
                        </p>
                        <img class="img-produit ombre" src="../asset/img/produit/picantin.jpg" alt="image produit">
                    </div>
                </section>
                <section id="js__choixPoids-0" class="produit-box-choix ombre js__produitChoix mask">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>100g</p>
                        <p>6€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-0-btnMoinsChoix-0" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-0-quantite-0" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-0-btnPlusChoix-0" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>200g</p>
                        <p>12€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-0-btnMoinsChoix-1" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-0-quantite-1" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-0-btnPlusChoix-1" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>300g</p>
                        <p>18€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-0-btnMoinsChoix-2" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-0-quantite-2" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-0-btnPlusChoix-2" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>400g</p>
                        <p>24€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-0-btnMoinsChoix-3" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-0-quantite-3" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-0-btnPlusChoix-3" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>500g</p>
                        <p>30€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-0-btnMoinsChoix-4" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-0-quantite-4" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-0-btnPlusChoix-4" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/picantin.jpg" alt="image produit">
                        <p>750g</p>
                        <p>45€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-0-btnMoinsChoix-5" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-0-quantite-5" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-0-btnPlusChoix-5" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                </section>
            </article>
    
            <article class="produit-group">
                <section id="js__boxProduit-1" class="produit-description-box produit-inverse ombre js__boxDescriptifProduit" tabindex="0">
                    <h3 class="title-produit ombre">
                        Les Rochers Compiégnois
                    </h3>
                    <div class="produit-descriptif">
                        <img class="img-produit ombre" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p class="produit-legende gras">
                            Des pralinés feuilletés avec du riz soufflé.
                        </p>
                    </div>
                </section>
                <section id="js__choixPoids-1" class="produit-box-choix ombre js__produitChoix mask">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p>100g</p>
                        <p>7€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-1-btnMoinsChoix-0" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-1-quantite-0" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-1-btnPlusChoix-0" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p>200g</p>
                        <p>14€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-1-btnMoinsChoix-1" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-1-quantite-1" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-1-btnPlusChoix-1" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p>300g</p>
                        <p>21€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-1-btnMoinsChoix-2" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-1-quantite-2" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-1-btnPlusChoix-2" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/rocher.jpg" alt="image produit">
                        <p>400g</p>
                        <p>28€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-1-btnMoinsChoix-3" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-1-quantite-3" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-1-btnPlusChoix-3" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                </section>
            </article>

            <article class="produit-group">
                <section id="js__boxProduit-2" class="produit-description-box ombre js__boxDescriptifProduit" tabindex="0">
                    <h3 class="title-produit ombre">
                        Les Marjories
                    </h3>
                    <div class="produit-descriptif">
                        <p class="produit-legende gras">
                            Une ganache au chocolat noir parfumé aux écorces d’orange confite.
                        </p>
                        <img class="img-produit ombre" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                    </div>
                </section>
                <section id="js__choixPoids-2" class="produit-box-choix ombre js__produitChoix mask">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                        <p>100g</p>
                        <p>7€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-2-btnMoinsChoix-0" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-2-quantite-0" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-2-btnPlusChoix-0" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                        <p>200g</p>
                        <p>14€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-2-btnMoinsChoix-1" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-2-quantite-1" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-2-btnPlusChoix-1" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                        <p>300g</p>
                        <p>21€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-2-btnMoinsChoix-2" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-2-quantite-2" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-2-btnPlusChoix-2" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/marjorie.jpg" alt="image produit">
                        <p>400g</p>
                        <p>28€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-2-btnMoinsChoix-3" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-2-quantite-3" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-2-btnPlusChoix-3" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                </section>
            </article>
        </div>
    </main>
    <aside class="part-categorie">
        <h2 class="title-chap ombre majDbutMot">Nos Assortiments</h2>
        <div class="produit-assortiment">
            <form class="group-choix-taille" action="">
                <p class="title-assortiment ombre gras">
                    Ballotin 250g
                </p>
                <img class="img-miniature ombre" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>17.50€</p>
                <div class="produit-quantite">
                    <img id="js__choixPoids-3-btnMoinsChoix-0" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input id="js__choixPoids-3-quantite-0" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img id="js__choixPoids-3-btnPlusChoix-0" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey"  title="Ajouter au panier">
                    ajouter au panier
                </button>
            </form>
            <form class="group-choix-taille" action="">
                <p class="title-assortiment ombre gras">
                    Ballotin 400g
                </p>
                <img class="img-miniature ombre" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>28€</p>
                <div class="produit-quantite">
                    <img id="js__choixPoids-3-btnMoinsChoix-1" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input id="js__choixPoids-3-quantite-1" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img id="js__choixPoids-3-btnPlusChoix-1" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey"  title="Ajouter au panier">
                    ajouter au panier
                </button>
            </form>
            <form class="group-choix-taille" action="">
                <p class="title-assortiment ombre gras">
                    Ballotin 500g
                </p>
                <img class="img-miniature ombre" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>35€</p>
                <div class="produit-quantite">
                    <img id="js__choixPoids-3-btnMoinsChoix-2" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input id="js__choixPoids-3-quantite-2" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img id="js__choixPoids-3-btnPlusChoix-2" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey"  title="Ajouter au panier">
                    ajouter au panier
                </button>
            </form>
            <form class="group-choix-taille" action="">
                <p class="title-assortiment ombre gras">
                    Ballotin 750g
                </p>
                <img class="img-miniature ombre" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>52.50€</p>
                <div class="produit-quantite">
                    <img id="js__choixPoids-3-btnMoinsChoix-3" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input id="js__choixPoids-3-quantite-3" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img id="js__choixPoids-3-btnPlusChoix-3" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey"  title="Ajouter au panier">
                    ajouter au panier
                </button>
            </form>
            <form class="group-choix-taille" action="">
                <p class="title-assortiment ombre gras">
                    Ballotin 1kg
                </p>
                <img class="img-miniature ombre" src="../asset/img/produit/assortiment-paquet.jpg" alt=" photo ballotin">
                <p>70€</p>
                <div class="produit-quantite">
                    <img id="js__choixPoids-3-btnMoinsChoix-4" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                    <input id="js__choixPoids-3-quantite-4" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                    <img id="js__choixPoids-3-btnPlusChoix-4" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                </div>
                <button class="btn btn-grey"  title="Ajouter au panier">
                    ajouter au panier
                </button>
            </form>
        </div>
    </aside>
    <aside class="part-categorie">
        <h2 class="title-chap ombre majDbutMot">Nos Confiseries</h2>
        <div class="produit">
            <article class="produit-group">
                <section id="js__boxProduit-4" class="produit-description-box ombre js__boxDescriptifProduit" tabindex="0">
                    <h3 class="title-produit ombre">
                        Les Marron Glacées
                    </h3>
                    <div class="produit-descriptif">
                        <p class="produit-legende gras">
                            Marrons en provenance de Turin en Italie.
                        </p>
                        <img class="img-produit ombre" src="../asset/img/produit/marron-glace.jpg" alt="image produit">
                    </div>
                </section>
                <section id="js__choixPoids-4" class="produit-box-choix ombre js__produitChoix mask">
                    <form class="group-choix-taille" action="">
                        <img class="img-miniature ombre" src="../asset/img/produit/marron-glace.jpg" alt="image produit">
                        <p>Vendue à l'unité</p>
                        <p>2.50€</p>
                        <div class="produit-quantite">
                            <img id="js__choixPoids-4-btnMoinsChoix-0" class="icon-quantity js__btnMoins" src="../asset/icon/quantité-moins.svg" alt="icon moins">
                            <input id="js__choixPoids-4-quantite-0" class="champ_quantity" type="number" value="0" name="product1_format1" id="product1_format1" min="0" max="99" pattern="[0-9]{1,2}"/>
                            <img id="js__choixPoids-4-btnPlusChoix-0" class="icon-quantity js__btnPlus" src="../asset/icon/quantité-plus.svg" alt="icon plus">
                        </div>
                        <button class="btn btn-grey"  title="Ajouter au panier">
                            ajouter au panier
                        </button>
                    </form>
                </section>
            </article>
        </div>
    </aside>
    <script src="../asset/script/scriptProduits.js" defer></script>
</body>