<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styleCommon.css" type="text/css">
    <link rel="stylesheet" href="../asset/css/styleGestionComptes.css" type="text/css">
</head>

<body class="bodyCommon">
    <h1 class="titlePage">Gestion des comptes</h1>
    <main class="part">
        <h2 class="title-chap">Liste des Comptes des Clients</h2>
        <table>
            <thead class="table-box">
                <tr class="table-row">
                    <th class="table-column">
                        Nom
                    </th>
                    <th class="table-column">
                        Prénom
                    </th>
                    <th class="table-column mail-responsive">
                        E-mail
                    </th>
                    <th class="table-column invisible">
                        modifier
                    </th>
                    <th class="table-column invisible">
                        supprimer
                    </th>
                </tr>
            </thead>

            <tbody class="table-box">
                <tr class="table-row">
                    <td class="table-column">
                        Dupond
                    </td>
                    <td class="table-column">
                        Paul
                    </td>
                    <td class="table-column mail-responsive">
                        <details>
                            <summary>
                                E-mail
                            </summary>
                            <p class="details-paragraph">
                                
                                paul.dupont@gmail.com
                            </p>
                        </details>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            modifier
                        </button>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            supprimer
                        </button>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">
                        Dupond
                    </td>
                    <td class="table-column">
                        Paul
                    </td>
                    <td class="table-column mail-responsive">
                        <details>
                            <summary>
                                E-mail
                            </summary>
                            <p class="details-paragraph">
                                
                                paul.dupont@gmail.com
                            </p>
                        </details>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            modifier
                        </button>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            supprimer
                        </button>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">
                        Dupond
                    </td>
                    <td class="table-column">
                        Paul
                    </td>
                    <td class="table-column mail-responsive">
                        <details>
                            <summary>
                                E-mail
                            </summary>
                            <p class="details-paragraph">
                                
                                paul.dupont@gmail.com
                            </p>
                        </details>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            modifier
                        </button>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            supprimer
                        </button>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">
                        Dupond
                    </td>
                    <td class="table-column">
                        Paul
                    </td>
                    <td class="table-column mail-responsive">
                        <details>
                            <summary>
                                E-mail
                            </summary>
                            <p class="details-paragraph">
                                
                                paul.dupont@gmail.com
                            </p>
                        </details>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            modifier
                        </button>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            supprimer
                        </button>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">
                        Dupond
                    </td>
                    <td class="table-column">
                        Paul
                    </td>
                    <td class="table-column mail-responsive">
                        <details>
                            <summary>
                                E-mail
                            </summary>
                            <p class="details-paragraph">
                                
                                paul.dupont@gmail.com
                            </p>
                        </details>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            modifier
                        </button>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            supprimer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <HR>
    <aside class="part">
        <h2 class="title-chap">
            Compte Employée
        </h2>
        <table>
            <thead class="table-box">
                <tr class="table-row">
                    <th class="table-column">
                        Nom
                    </th>
                    <th class="table-column">
                        Prénom
                    </th>
                    <th class="table-column invisible">
                        modifier
                    </th>
                    <th class="table-column invisible">
                        supprimer
                    </th>
                </tr>
            </thead>

            <tbody class="table-box">
                <tr class="table-row">
                    <td class="table-column">
                        Dupond
                    </td>
                    <td class="table-column">
                        Paul
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            modifier
                        </button>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            supprimer
                        </button>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">
                        Dupond
                    </td>
                    <td class="table-column">
                        Paul
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            modifier
                        </button>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            supprimer
                        </button>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">
                        Dupond
                    </td>
                    <td class="table-column">
                        Paul
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            modifier
                        </button>
                    </td>
                    <td class="table-column">
                        <button class="btn btn-grey">
                            supprimer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </aside>
</body>