<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styleCommon.css" type="text/css">
    <link rel="stylesheet" href="../asset/css/styleGestionCommandes.css" type="text/css">
</head>

<body class="bodyCommon">
    <h1 class="titlePage">Liste des commandes en cours</h1>
    <main class="main-ListeCommandes">
        <article class="liste-commande">
            <section class="commande-part">
                <div class="commande-info partGauche">
                    <p class="commande-important">
                        Dupond Jean
                    </p>
                    <p class="commande-adresse">
                        100 blvd Etats Unis 60200 Compiègne
                    </p>
                </div>
                <div class="commande-info partDroite">
                    <p>
                        06.01.02.03.04
                    </p>
                    <p>
                        jean-dupond@gmail.com
                    </p>
                </div>
            </section>
            <section class="commande-part">
                <div class="commande-produit">
                    <p>
                        Picantins
                    </p>
                    <p>
                        <span>100</span>g
                    </p>
                    <p>
                        Quantité:
                    </p>
                    <p>
                        1
                    </p>
                </div>
                <div class="commande-produit">
                    <p>
                        Marrons Glacées
                    </p>
                    <p>
                        <span>100</span>g
                    </p>
                    <p>
                        Quantité:
                    </p>
                    <p>
                        3
                    </p>
                </div>
                <div class="commande-produit">
                    <p>
                        Rochers Compiègnois
                    </p>
                    <p>
                        <span>300</span>g
                    </p>
                    <p>
                        Quantité:
                    </p>
                    <p>
                        1
                    </p>
                </div>
            </section>
            <section class="commande-part commande-part-responsive">
                <div class="commande-part-num">
                    <p>
                        Numéro de commande
                    </p>
                    <p class="commande-important">
                        n° 2021-09-01_01
                    </p>
                </div>
                <div class="commande-part-num">
                    <button class="btn btn-white btn-fat">
                        commande traité
                    </button>
                </div>
                <div class="commande-part-num">
                    <p>
                        Commande passé le
                    </p>
                    <p class="commande-important">
                        01/09/2021
                    </p>
                </div>
            </section>
            <button class="btn btn-white btn-fat">
                supprimer commande
            </button>
        </article>
        <article class="liste-commande">
            <section class="commande-part">
                <div class="commande-info partGauche">
                    <p class="commande-important">
                        Petit Sophie
                    </p>
                    <p class="commande-adresse">
                        50 rue Winston Churchill 60200 Compiègne
                    </p>
                </div>
                <div class="commande-info partDroite">
                    <p>
                        06.01.02.03.04
                    </p>
                    <p>
                        sophie-petit@gmail.com
                    </p>
                </div>
            </section>
            <section class="commande-part">
                <div class="commande-produit">
                    <p>
                        Assortiement
                    </p>
                    <p>
                        <span>400</span>g
                    </p>
                    <p>
                        Quantité:
                    </p>
                    <p>
                        2
                    </p>
                </div>
                <div class="commande-produit">
                    <p>
                        Pâtes d'Amandes
                    </p>
                    <p>
                        <span>100</span>g
                    </p>
                    <p>
                        Quantité:
                    </p>
                    <p>
                        5
                    </p>
                </div>
                <div class="commande-produit">
                    <p>
                        Marjories
                    </p>
                    <p>
                        <span>300</span>g
                    </p>
                    <p>
                        Quantité:
                    </p>
                    <p>
                        3
                    </p>
                </div>
                <div class="commande-produit">
                    <p>
                        Picantins
                    </p>
                    <p>
                        <span>100</span>g
                    </p>
                    <p>
                        Quantité:
                    </p>
                    <p>
                        2
                    </p>
                </div>
                <div class="commande-produit">
                    <p>
                        Picantins
                    </p>
                    <p>
                        <span>100</span>g
                    </p>
                    <p>
                        Quantité:
                    </p>
                    <p>
                        2
                    </p>
                </div>
            </section>
            <section class="commande-part commande-part-responsive">
                <div class="commande-part-num">
                    <p>
                        Numéro de commande
                    </p>
                    <p class="commande-important">
                        n° 2021-12-01_07
                    </p>
                </div>
                <div class="commande-part-num">
                    <button class="btn btn-white btn-fat">
                        commande traité
                    </button>
                </div>
                <div class="commande-part-num">
                    <p>
                        Commande passé le
                    </p>
                    <p class="commande-important">
                        01/12/2021
                    </p>
                </div>
            </section>
            <button class="btn btn-white btn-fat">
                supprimer commande
            </button>
        </article>
    </main>

</body>