<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styleCommon.css" type="text/css">
    <link rel="stylesheet" href="../asset/css/stylefactures.css" type="text/css">
</head>

<body class="bodyCommon">
    <h1 class="titlePage">Liste des factures</h1>
    <main class="liste-factures ombre gras">
        <h2 class="title-annee">
            Année <span>2021</span>
        </h2>
        <table class="table-facture">
            <tbody class="table-box">
                <tr class="table-row ">
                    <td class="table-column table-bottom">
                        Facture n°2021-03-01_01
                    </td>
                    <td class="table-column table-bottom">
                        Dupond Jean
                    </td>
                    <td class="table-column table-bottom">
                        dupond-jean@gmail.com
                    </td>
                    <td class="table-column">
                        <a href="">
                            <img class="icon" src="../asset/icon/pdf.svg" alt="">
                        </a>
                    </td>
                </tr>
                <tr class="table-row ">
                    <td class="table-column table-bottom">
                        Facture n°2021-02-01_01
                    </td>
                    <td class="table-column table-bottom">
                        Petit Sophie
                    </td>
                    <td class="table-column table-bottom">
                        sophie-petit@gmail.com
                    </td>
                    <td class="table-column">
                        <a href="">
                            <img class="icon" src="../asset/icon/pdf.svg" alt="">
                        </a>
                    </td>
                </tr>
                <tr class="table-row ">
                    <td class="table-column table-bottom">
                        Facture n°2021-01-01_01
                    </td>
                    <td class="table-column table-bottom">
                        Martin Tom
                    </td>
                    <td class="table-column table-bottom">
                        martin-tom@gmail.com
                    </td>
                    <td class="table-column">
                        <a href="">
                            <img class="icon" src="../asset/icon/pdf.svg" alt="">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <aside class="liste-factures ombre gras">
        <h2 class="title-annee">
            Année <span>2020</span>
        </h2>
        <table class="table-facture">
            <tbody class="table-box">
                <tr class="table-row ">
                    <td class="table-column table-bottom">
                        Facture n°2020-12-12_03
                    </td>
                    <td class="table-column table-bottom">
                        Bernard Dominique
                    </td>
                    <td class="table-column table-bottom">
                        bernard-dominique@gmail.com
                    </td>
                    <td class="table-column">
                        <a href="">
                            <img class="icon" src="../asset/icon/pdf.svg" alt="">
                        </a>
                    </td>
                </tr>
                <tr class="table-row ">
                    <td class="table-column table-bottom">
                        Facture n°2020-10-10_01
                    </td>
                    <td class="table-column table-bottom">
                        Smith John
                    </td>
                    <td class="table-column table-bottom">
                        john_smith@gmail.com
                    </td>
                    <td class="table-column">
                        <a href="">
                            <img class="icon" src="../asset/icon/pdf.svg" alt="">
                        </a>
                    </td>
                </tr>
                <tr class="table-row ">
                    <td class="table-column table-bottom">
                        Facture n°2020-09-09_05
                    </td>
                    <td class="table-column table-bottom">
                        Moreau Edite
                    </td>
                    <td class="table-column table-bottom">
                        moreau-edite@gmail.com
                    </td>
                    <td class="table-column">
                        <a href="">
                            <img class="icon" src="../asset/icon/pdf.svg" alt="">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </aside>
</body>